<div class="container" >
    <h1>Add Address</h1>
    <form [formGroup]="addressForm">
        <div class="form-group">
            <label>Address</label>
            <input type="textBox" id="address" class="form-control" formControlName="address" placeholder="address first line" required>
                <div *ngIf="addressForm.controls['address'].invalid && (addressForm.controls['address'].dirty || addressForm.controls['address'].touched)" class="alert alert-danger">
                    
                    <div *ngIf="addressForm.controls['address'].errors?.['required']">
                        Address is required!!
                      </div>

                      <div *ngIf="addressForm.controls['address'].touched && addressForm.controls['address'].errors?.['minlength']">
                        Address length should be minimum of 10 characters!!
                      </div>

                      <div *ngIf="addressForm.controls['address'].errors?.['pattern']">
                        Address field should not contain any special characters!!
                      </div>

                </div>
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" id="city" class="form-control" formControlName="city" placeholder="city" required>
            <div *ngIf="addressForm.controls['city'].invalid && (addressForm.controls['city'].dirty || addressForm.controls['city'].touched)" class="alert alert-danger">
                    
                <div *ngIf="addressForm.controls['city'].errors?.['required']">
                    City is required!!
                  </div>

                  <div *ngIf="addressForm.controls['city'].errors?.['pattern']">
                    City field should not contain any special characters!!
                  </div>

            </div>
               
        </div>

<div class="form-group">
            <label>State</label>

            <select id="state" name="state" class="form-control" formControlName="state" placeholder="Pick a state..." required>
                
                <option value="AN">Andaman and Nicobar Islands</option>
                <option value="AP">Andhra Pradesh</option>
                <option value="AR">Arunachal Pradesh</option>
                <option value="AS">Assam</option>
                <option value="BR">Bihar</option>
                <option value="CH">Chandigarh</option>
                <option value="CT">Chhattisgarh</option>
                <option value="DN">Dadra and Nagar Haveli</option>
                <option value="DD">Daman and Diu</option>
                <option value="DL">Delhi</option>
                <option value="GA">Goa</option>
                <option value="GJ">Gujarat</option>
                <option value="HR">Haryana</option>
                <option value="HP">Himachal Pradesh</option>
                <option value="JK">Jammu and Kashmir</option>
                <option value="JH">Jharkhand</option>
                <option value="KA">Karnataka</option>
                <option value="KL">Kerala</option>
                <option value="LA">Ladakh</option>
                <option value="LD">Lakshadweep</option>
                <option value="MP">Madhya Pradesh</option>
                <option value="MH">Maharashtra</option>
                <option value="MN">Manipur</option>
                <option value="ML">Meghalaya</option>
                <option value="MZ">Mizoram</option>
                <option value="NL">Nagaland</option>
                <option value="OR">Odisha</option>
                <option value="PY">Puducherry</option>
                <option value="PB">Punjab</option>
                <option value="RJ">Rajasthan</option>
                <option value="SK">Sikkim</option>
                <option value="TN">Tamil Nadu</option>
                <option value="TG">Telangana</option>
                <option value="TR">Tripura</option>
                <option value="UP">Uttar Pradesh</option>
                <option value="UT">Uttarakhand</option>
                <option value="WB">West Bengal</option>
            </select>

        <div *ngIf="addressForm.controls['state'].invalid && (addressForm.controls['state'].dirty || addressForm.controls['state'].touched)" class="alert alert-danger">
            
               
               <div *ngIf="addressForm.controls['state'].errors?.['required']">
                State is required!!
              </div>
        </div>
               
</div>

        <div class="form-group">
            <label>Pincode</label>
            <input type="number" id="pincode" class="form-control" formControlName="pincode" placeholder="Pincode" required>
            <div *ngIf="addressForm.controls['pincode'].invalid && (addressForm.controls['pincode'].dirty || addressForm.controls['pincode'].touched)" class="alert alert-danger">
           
                <div *ngIf="addressForm.controls['pincode'].errors?.['required']">
                Pincode is required!!
              </div>

              <div *ngIf="addressForm.controls['pincode'].errors?.['pattern']">
                Pincode should be of 6 digits only!!
              </div>

              </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="number" id="phone" class="form-control" formControlName="phone" placeholder="Contact No" required>

            <div *ngIf="addressForm.controls['phone'].invalid && (addressForm.controls['phone'].dirty || addressForm.controls['phone'].touched)" class="alert alert-danger">
            
                <div *ngIf="addressForm.controls['phone'].errors?.['required']">
                Phone number is required!!
              </div>

              <div *ngIf="addressForm.controls['phone'].errors?.['pattern']">
                Phone number should be of 10 digits only!!
              </div>

         </div>

   </div>

        
        <br />
        <br />
        <button type="submit" class="btn btn-primary" (click)="onSubmit(addressForm.value)" [disabled]="addressForm.invalid">Add new Address</button>
        <p *ngIf="submitted">
            Address successfully added!!!
        </p>


    </form>

 
</div>
